@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: url('/cursor.png') 12 12, auto;
  }

  a, button, select {
    cursor: url('/cursor.png') 12 12, pointer;
  }

  input, textarea {
    cursor: text !important;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}